.navbar {
  padding: 20px;
  background-color: lightgrey;
}

.search {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  justify-content: center;
}

.App {
  border: 2px solid red;
  margin: 8em;
}

.card {
  border: 2px solid cyan;
  width: auto;
  height: 20em;
  
}

.card > a {
  vertical-align: middle;
}

.card__item {
  border: 2px solid blueviolet;
  left: 0;
  
}



.All__Users {
  border: 2px solid orange;
}